
.accordion-button:after {
    content: '+';
    font-size: 18px;
    float: right;
    margin-left: auto;
    transition: transform 0.4s ease;
  }

  .accordion-button.collapsed:after {
    content: '+';
  }

  .accordion-button:not(.collapsed):after {
    content: '-';
  }





.section-subtitle{
    font-size: 1rem;
    padding-left: 10px;
    padding-right: 10px;
}

.bb-section-stroke
{
    position: relative;
}

.main-section{
    padding: 0;
}

section {
    display: block;
    justify-content: flex-end !important;
}

*,*::before,
*::after{
    box-sizing: border-box;
}

::selection {
    color: #fff;
    background: #1890ff;
}




